<p-panel>
    <ng-template pTemplate="header">
        <!-- TITULO -->
        <div class="flex items-center w-full pl-3 relative">
            <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary rounded-sm"></div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-surface-600 dark:text-surface-400 m-0 ">{{subtitulo}}</p>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <div class="flex items-center gap-2">
            @if(esFormulario){
            @switch (formsService.accion()) {
            @case (accionEnum.CREAR) {
            <!-- BOTON SUBMIT -->
            <p-button [icon]="ICONSCONSTANT.GUARDAR" type="submit" [rounded]="true" [raised]="true"
                [pTooltip]="'Guardar'" tooltipPosition="top" tooltipStyleClass="small-tooltip" />
            }
            @case (accionEnum.EDITAR) {
            <!-- BOTON SUBMIT -->
            <p-button [icon]="ICONSCONSTANT.REGRESAR" (click)="regresar()" [rounded]="true" [raised]="true"
                [pTooltip]="'Regresar'" tooltipPosition="top" tooltipStyleClass="small-tooltip" severity="secondary" />
            <p-button [icon]="ICONSCONSTANT.GUARDAR" type="submit" [rounded]="true" [raised]="true"
                [pTooltip]="'Actualizar'" tooltipPosition="top" tooltipStyleClass="small-tooltip" />
            }
            }
            } @else {
            <!-- BOTON EXPORTAR -->
            <p-button [icon]="ICONSCONSTANT.EXCEL" [rounded]="true" [raised]="true" severity="success"
                pTooltip="Exportar" tooltipPosition="top" tooltipStyleClass="small-tooltip" (click)="onExportar()" />
            <!-- BOTON IMPRIMIR -->
            <p-button [icon]="ICONSCONSTANT.IMPRIMIR" [rounded]="true" [raised]="true" severity="info"
                pTooltip="Imprimir" tooltipPosition="top" tooltipStyleClass="small-tooltip" (click)="onImprimir()" />
            }
        </div>
    </ng-template>
</p-panel>