<p-panel>
    <ng-template pTemplate="header">
        <div class="flex items-center w-full pl-3 relative">
            <div class="absolute left-0 top-0 bottom-0 w-1 bg-primary rounded-sm"></div>
            <div class="flex flex-col gap-1">
                <p class="text-sm text-surface-600 dark:text-surface-400 m-0 ">{{subtitulo}}</p>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="icons">
        <div class="flex items-center gap-2">
            @if(esFormulario){
            <p-button icon="pi pi-save" type="submit" [rounded]="true" [raised]="true" [pTooltip]="esCrear ? 'Guardar' : 'Actualizar'"
                tooltipPosition="top" tooltipStyleClass="small-tooltip" />
            }@else {
            <p-button icon="pi pi-file-excel" [rounded]="true" [raised]="true" severity="success" pTooltip="Exportar"
                tooltipPosition="top" tooltipStyleClass="small-tooltip" />
            <p-button icon="pi pi-print" [rounded]="true" [raised]="true" severity="info" pTooltip="Imprimir"
                tooltipPosition="top" tooltipStyleClass="small-tooltip" />
            }
        </div>
    </ng-template>
</p-panel>