<p-fluid>
    <div class="flex flex-col md:flex-row gap-8 w-full">
        <div class="card flex flex-col gap-6 w-full">
            <p-toolbar>
                <ng-template #start>
                    <p-button icon="pi pi-plus" class="mr-2" text severity="secondary" />
                    <p-button icon="pi pi-print" class="mr-2" text severity="secondary" />
                    <p-button icon="pi pi-upload" text severity="secondary" />
                </ng-template>
                <ng-template #center>
                    <div class="font-semibold text-xl">REGISTRO USUARIO</div>
                </ng-template>
                <ng-template #end>
                    <p-splitbutton label="Save" [model]="items" />
                </ng-template>
            </p-toolbar>
            <div class="font-semibold text-l">Datos</div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                <!-- Apellidos -->
                <div class="field">
                    <input pInputText type="text" placeholder="Apellidos" class="w-full" />
                </div>
                <!-- Nombre -->
                <div class="field">
                    <input pInputText type="text" placeholder="Nombre" class="w-full" />
                </div>
                <!-- Usuario -->
                <div class="field">
                    <p-iconfield class="w-full">
                        <p-inputicon class="pi pi-user"></p-inputicon>
                        <input pInputText type="text" placeholder="Usuario" class="w-full" />
                    </p-iconfield>
                </div>
                <!-- Correo -->
                <div class="field md:col-span-2">
                    <input pInputText type="email" placeholder="Correo electrónico" class="w-full" />
                </div>
                <!-- Contraseña -->
                <div class="field">
                    <input pInputText type="password" placeholder="Contraseña" class="w-full" />
                </div>
            </div>
            <div class="font-semibold text-l">Contacto</div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                <!-- Telefono -->
                <div class="field">
                    <input pInputText type="text" placeholder="Telefono" class="w-full" />
                </div>
                <!-- Dirección -->
                <div class="field  md:col-span-2">
                    <p-iconfield class="w-full">
                        <p-inputicon class="pi pi-map-marker"></p-inputicon>
                        <input pInputText type="text" placeholder="Dirección" class="w-full" />
                    </p-iconfield>
                </div>
            </div>
            <div class="font-semibold text-l">Datos adicionales</div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                <!-- Rol -->
                <div class="field">
                    <p-multiselect [options]="dropdownValues" [(ngModel)]="dropdownValue" placeholder="Seleccionar rol"
                        optionLabel="name" display="chip">
                        <ng-template #selecteditems let-countries>
                            @for (country of countries; track country.code) {
                            <div
                                class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                                <div>{{ country.name }}</div>
                            </div>
                            }
                        </ng-template>
                        <ng-template #item let-country>
                            <div class="flex items-center">
                                <div>{{ country.name }}</div>
                            </div>
                        </ng-template>
                    </p-multiselect>
                </div>
                <!-- Fecha Ingreso -->
                <div class="field">
                    <p-datepicker [showIcon]="true" [showButtonBar]="true" dateFormat="dd-mm-yy"
                        placeholder="dd-mm-yyyy" [(ngModel)]="calendarValue"></p-datepicker>
                </div>
                <!-- Estado -->
                <div class="field text-center">
                    <p-togglebutton [(ngModel)]="toggleValue" onLabel="Activo" offLabel="Inactivo"
                        [style]="{ width: '10em' }" />
                </div>
            </div>
            <!-- IMAGEN -->
            <div class="font-semibold text-l">Foto</div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">

            </div>
        </div>
    </div>
</p-fluid>