<div class="mb-2 mt-2">
    <!-- INPUT FLOTANTE PARA FILTRAR -->
    <p-floatlabel variant="on" class="w-full">
        <p-iconfield class="w-full">
            <p-inputicon class="pi pi-search"></p-inputicon>
            <!-- INPUT FILTRAR -->
            <input pInputText class="w-full" pSize="small" id="filter-text-box" (input)="onFilterTextBoxChanged($event)"
                (keyup.enter)="buscar($event)" placeholder="Filtrar" />
            <!-- ICONO CLICK BUSCAR -->
            <p-inputicon class="pi pi-cloud-download search" pTooltip="Cargas mas datos" tooltipPosition="top"
                tooltipStyleClass="small-tooltip" (click)="buscar($event)" />
        </p-iconfield>
    </p-floatlabel>
</div>

<ag-grid-angular style="width: 100%; height: calc(100vh - 275px);" [localeText]="localeText" [context]="gridContext"
    [defaultColDef]="defaultColDef" [theme]="theme" [statusBar]="statusBar" [rowData]="rowData" [columnDefs]="colDefs"
    [enableCellTextSelection]="true" [getContextMenuItems]="getContextMenuItems" (gridReady)="onGridReady($event)"
    (gridSizeChanged)="onGridSizeChanged($event)" (cellDoubleClicked)="consultar($event.node.data)"/>