:host ::ng-deep .ag-menu-list {
  padding: 0px !important;
}

:host ::ng-deep .ag-menu-option-popup-pointer {
  padding-right: 12px;
}

:host ::ng-deep .ag-cell-wrapper {
  align-items: center;
  height: 100%;
}

:host ::ng-deep .ag-selection-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search {
  color: var(--p-primary-color);
  cursor: pointer;
  font-weight: bold;
}