<div class="mb-2 mt-2">
    <p-floatlabel variant="on" class="w-full">
        <p-iconfield class="w-full">
            <p-inputicon class="pi pi-search"></p-inputicon>
            <input pInputText class="w-full" id="filter-text-box" (input)="onFilterTextBoxChanged($event)" />
        </p-iconfield>
        <label for="filter-text-box">Filtrar</label>
    </p-floatlabel>
</div>

<div style="width: 100%; height: 700px;">
    <ag-grid-angular style="width: 100%; height: 100%;" [localeText]="localeText" [defaultColDef]="defaultColDef"
        [theme]="theme" [rowData]="rowData" [columnDefs]="colDefs" [autoSizeStrategy]="autoSizeStrategy"
        (gridReady)="onGridReady($event)" [enableCellTextSelection]="true" [getContextMenuItems]="getContextMenuItems"
        (gridSizeChanged)="onGridSizeChanged($event)" />
</div>