<div class="estado-field items-center">
    @if (showLabel) {
        <label class="estado-label" [for]="id">
            <span [class.text-green]="control.value" [class.text-red]="!control.value">
                {{ label }}:
                {{ control.value ? 'Activo' : 'Inactivo' }}
            </span>
        </label>
    }

    <p-toggleswitch [formControl]="control" appErrors [id]="id">
        <ng-template #handle let-checked>
            <i [ngClass]="['!text-xs', 'pi', checked ? 'pi-check' : 'pi-times']"></i>
        </ng-template>
    </p-toggleswitch>
</div>