<p-floatlabel variant="on" class="w-full">

    @if (icon) {

    <p-iconfield class="w-full">
        <p-inputicon [class]="icon"></p-inputicon>
        <input pInputText class="w-full" pSize="small" [id]="id" [pKeyFilter]="keyFilter" [formControl]="control"
            [autocomplete]="autocomplete" [appUppercase]="uppercase" appErrors />
    </p-iconfield>

    } @else {

    <input pInputText class="w-full" pSize="small" [id]="id" [pKeyFilter]="keyFilter" [formControl]="control"
        [autocomplete]="autocomplete" [appUppercase]="uppercase" appErrors />

    }

    <label [for]="id">
        {{ label }}
    </label>

</p-floatlabel>