<!-- aqui prorgamar subir imagen -->
<p-fileupload #fileUploader name="files[]" accept="image/*" [multiple]="false" mode="advanced" [customUpload]="true" [auto]="true"
    [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onSelectImage($event)">
    <!-- ZONA PERSONALIZADA -->
    <ng-template pTemplate="empty">
        <button class="upload-box" (click)="fileUploader.choose()" type="button">
            <i class="pi pi-camera upload-icon"></i>
            <p class="upload-title">Subir foto</p>
            <small>Click o arrastre aquí</small>
        </button>
    </ng-template>
    <!-- PREVIEW -->
    <ng-template pTemplate="content">
        @if (preview) {
        <div class="avatar-wrapper">
            <img [src]="preview" class="avatar-img" alt=""/>
            <!-- BOTÓN ELIMINAR -->
            <button type="button" class="remove-btn" (click)="removeImage(fileUploader)">
                <i class="pi pi-times"></i>
            </button>
        </div>
        }
    </ng-template>
</p-fileupload>