:host ::ng-deep .p-button {
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

:host ::ng-deep .p-button-icon-only {
  width: 20px;
  height: 20px;
}

:host ::ng-deep .p-button .pi {
  font-size: 10px;
}