<p-fluid>
    <p-panel value="0">
        <div class="card">
            <p-tabs lazy [value]="tabsState.tabActivo()" (valueChange)="onTabChange($event)">
                <p-tablist>
                    <p-tab [value]="Tabs.LISTADO"><i class="pi pi-list"></i><span> Lista de unidades de medida</span></p-tab>
                    <p-tab [value]="Tabs.CREAR"><i class="pi pi-plus"></i><span> Crear unidad de medida</span></p-tab>
                    <p-tab [disabled]="tabsState.tabDeshabilitado()" [value]="Tabs.EDITAR"><i class="pi pi-pencil"></i><span> Editar unidad de medida</span></p-tab>
                </p-tablist>
                <p-tabpanels>
                    <p-tabpanel [value]="Tabs.LISTADO">
                        <app-unidad-medida-listado></app-unidad-medida-listado>
                    </p-tabpanel>
                    <p-tabpanel [value]="Tabs.CREAR">
                        @if (tabsState.tabActivo() === Tabs.CREAR) {
                        <app-unidad-medida-formulario></app-unidad-medida-formulario>
                        }
                    </p-tabpanel>
                    <p-tabpanel [value]="Tabs.EDITAR">
                        @if (tabsState.tabActivo() === Tabs.EDITAR) {
                        <app-unidad-medida-formulario></app-unidad-medida-formulario>
                        }
                    </p-tabpanel>
                </p-tabpanels>
            </p-tabs>
        </div>
    </p-panel>
</p-fluid>
