<p-floatlabel variant="on" class="w-full">

    @if (icon) {
    <p-iconfield class="w-full">
        <p-inputicon [class]="icon"></p-inputicon>

        <input pInputText class="w-full" [id]="id" [formControl]="control"
            [autocomplete]="autocomplete" placeholder=" " appErrors />
    </p-iconfield>
    } @else {
    <input pInputText class="w-full" [id]="id" [formControl]="control" [autocomplete]="autocomplete"
        placeholder=" " appErrors />
    }

    <label [for]="id">
        {{ label }}
    </label>


</p-floatlabel>