/* You can add global styles to this file, and also import other style files */
@use './assets/tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

.text-primary-contrast {
  font-size: 10px !important;
}

.p-panel {
  border-radius: 0 !important;
}
.p-panel-header {
  padding-bottom: 5px !important;
}

.pt-15 {
  padding-top: 15px;
}

.pt-3 {
  padding-bottom: 3px;
}

.p-0 {
  padding: 0px;
}

//SELECT LABEL FLOAT
.multiselect-float .p-multiselect {
  min-height: 2.4rem;
  display: flex;
  align-items: center;
}

.multiselect-float .p-multiselect-label {
  padding-top: 0.55rem;
}

.multiselect-float.p-floatlabel-active label {
  top: -0.75rem;
  font-size: 0.75rem;
}
//FIN

//ESTILO FLOAT LABEL
.estado-field {
  display: flex;
  flex-direction: column;
}

.estado-label {
  font-size: 0.75rem;
  color: #6b7280;
  margin: 0;
}

.estado-label span {
  font-weight: 600;
}
//FIN

.header-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #1f2937;
    margin: 0;
    line-height: 1;
}
.header-subtitle {
    font-size: 0.813rem;
    color: #6b7280;
    line-height: 1;
    margin-bottom: 2px;
    margin-top: -8px;
}