<p-fluid>
    <p-panel value="0" [toggleable]="true">
        <ng-template #header>
            <div class="flex items-center gap-2 pt-15 pt-3">
                <p-avatar icon="pi pi-user" shape="circle" />
                <span class="font-bold">REGISTRO USUARIO</span>
            </div>
        </ng-template>

        <ng-template #icons>
            <p-button icon="pi pi-save" pTooltip="Guardar" tooltipPosition="right" severity="info" rounded text
                (click)="menu.toggle($event)" />
            <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
        </ng-template>

        <div class="flex flex-col md:flex-row gap-4 w-full">
            <div class="card flex flex-col gap-0 w-full p-0">
                <p-fieldset legend="Datos" [toggleable]="true">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                        <!-- Apellidos -->
                        <div class="field">
                            <p-floatlabel variant="on">
                                <input pInputText id="Apellidos" autocomplete="off" type="text" />
                                <label for="Apellidos">Apellidos</label>
                            </p-floatlabel>
                        </div>
                        <!-- Nombre -->
                        <div class="field">
                            <p-floatlabel variant="on">
                                <input pInputText id="Nombre" autocomplete="off" type="text" />
                                <label for="Nombre">Nombre</label>
                            </p-floatlabel>
                        </div>
                        <!-- Usuario -->
                        <div class="field">
                            <p-floatlabel variant="on" class="w-full">
                                <p-iconfield class="w-full">
                                    <p-inputicon class="pi pi-user"></p-inputicon>
                                    <input pInputText id="Usuario" type="text" class="w-full" autocomplete="off" />
                                </p-iconfield>
                                <label for="Usuario">Usuario</label>
                            </p-floatlabel>
                        </div>
                        <!-- Correo -->
                        <div class="field md:col-span-2">
                            <p-floatlabel variant="on">
                                <input pInputText id="Correo electrónico" autocomplete="off" type="text" />
                                <label for="Correo electrónico">Correo electrónico</label>
                            </p-floatlabel>
                        </div>
                        <!-- Contraseña -->
                        <div class="field">
                            <p-floatlabel variant="on">
                                <p-password [toggleMask]="true" [feedback]="false" />
                                <label for="Contraseña">Contraseña</label>
                            </p-floatlabel>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Contacto" [toggleable]="true">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                        <!-- Telefono -->
                        <div class="field">
                            <p-floatlabel variant="on">
                                <input pInputText id="Telefono" autocomplete="off" type="text" />
                                <label for="Telefono">Telefono</label>
                            </p-floatlabel>
                        </div>
                        <!-- Dirección -->
                        <div class="field  md:col-span-2">
                            <p-floatlabel variant="on" class="w-full">
                                <p-iconfield class="w-full">
                                    <p-inputicon class="pi pi-map-marker"></p-inputicon>
                                    <input pInputText id="direccion" type="text" class="w-full" autocomplete="off" />
                                </p-iconfield>
                                <label for="direccion">Dirección</label>
                            </p-floatlabel>
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Datos adicionales" [toggleable]="true">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                        <!-- Rol -->
                        <div class="field">
                            <p-multiselect [options]="dropdownValues" [(ngModel)]="dropdownValue" name="dropdownValue"
                                placeholder="Seleccionar rol" optionLabel="name" display="chip">
                                <ng-template #selecteditems let-countries>
                                    @for (country of countries; track country.code) {
                                    <div
                                        class="inline-flex items-center py-1 px-2 bg-primary text-primary-contrast rounded-border mr-2">
                                        <div>{{ country.name }}</div>
                                    </div>
                                    }
                                </ng-template>
                                <ng-template #item let-country>
                                    <div class="flex items-center">
                                        <div>{{ country.name }}</div>
                                    </div>
                                </ng-template>
                            </p-multiselect>
                        </div>
                        <!-- Fecha Ingreso -->
                        <div class="field">
                            <p-datepicker [showIcon]="true" [showButtonBar]="true" dateFormat="dd-mm-yy"
                                placeholder="dd-mm-yyyy" [(ngModel)]="calendarValue"
                                name="calendarValue"></p-datepicker>
                        </div>
                        <!-- Estado -->
                        <div class="field text-center">
                            <p-togglebutton [(ngModel)]="toggleValue" name="toggleValue" onLabel="Activo"
                                offLabel="Inactivo" [style]="{ width: '10em' }" />
                        </div>
                    </div>
                </p-fieldset>
                <p-fieldset legend="Foto" [toggleable]="true">
                    <!-- IMAGEN -->
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 w-full">
                        <!-- aqui prorgamar subir imagen -->
                        <div class="md:col-span-3 w-full">
                            <p-fileupload #fileUploader name="files[]" accept="image/*" [multiple]="false"
                                mode="advanced" [customUpload]="true" [showUploadButton]="false"
                                [showCancelButton]="false" (onSelect)="onSelectImage($event)">

                                <!-- ZONA PERSONALIZADA -->
                                <ng-template pTemplate="empty">
                                    <div class="upload-box" (click)="fileUploader.choose()">
                                        <i class="pi pi-camera upload-icon"></i>
                                        <p class="upload-title">Subir foto</p>
                                        <small>Click o arrastre aquí</small>
                                    </div>
                                </ng-template>
                                <!-- PREVIEW -->
                                <ng-template pTemplate="content">
                                    @if (preview) {
                                    <div class="avatar-wrapper">
                                        <img [src]="preview" class="avatar-img" />
                                        <!-- BOTÓN ELIMINAR -->
                                        <button type="button" class="remove-btn" (click)="removeImage(fileUploader)">
                                            <i class="pi pi-times"></i>
                                        </button>
                                    </div>
                                    }
                                </ng-template>

                            </p-fileupload>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <ng-template #footer>
            <div class="flex flex-wrap items-center justify-between gap-4">
                <div class="flex items-center gap-2">
                    <p-button icon="pi pi-eraser" pTooltip="Limpiar" tooltipPosition="right" severity="warn" rounded
                        text></p-button>
                    <p-button icon="pi pi-bookmark" severity="secondary" rounded text></p-button>
                </div>
                <span class="text-surface-500 dark:text-surface-400">VetHome</span>
            </div>
        </ng-template>
    </p-panel>
</p-fluid>